body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
	background: url(../images/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
}

nav {
	float: right;
	margin-top: 50px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.menu li a:hover {
	color: #fed136;
}

.titles_1 {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
}

h1 {
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}

.title {
	padding-top: 115px;

}

.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
	margin-top: 80px;
	margin-bottom: 120px;
}

.services_item {
	width: 270px;
	float: left;
	text-align: center;
}

.services_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.services_item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.6em;
}

.services_item:last-child {
	float: right;
}

.services_item:nth-child(2){
	float: right;
	margin-left: 60px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.workd img:nth-child(2) {
	margin-left: 29px;
}

.workd img:last-child {
	float: right;
}

#about_us {
	padding-top: 128px;
}

.about_us {
	margin-top: 78px;
}

.about_us_item {
	margin-bottom: 93px;
}

.about_us_item h3 {
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
.about_us_item h2 {
	color: #222222;
	font-size: 18px;
	font-weight: bold;
	margin-top: 7px;
}

.about_us_item p {
	font-size: 14px;
	color: #777777;
	margin-top: 18px;
}

.about_us_item:nth-child(1) {
	text-align: right;
}

.about_us_item:nth-child(2) {
	text-align: left;
}

.about_us_item:nth-child(3) {
	text-align: right;
}

.about_us_item:nth-child(4) {
	text-align: left;
}

.about_us_item img:nth-child(1) {
	margin-left: 40px;
}

.about_us_item img:nth-child(1) {
	margin-right: 40px;
}

.about_us_item img:nth-child(1) {
	margin-left: 40px;
}

.about_us_item img:nth-child(1) {
	margin-right: 40px;
}

.about_us_item:nth-child(1) {
	margin-right: 340px;
}

.about_us_item:nth-child(2) {
	margin-left: 325px;
}

.about_us_item:nth-child(3) {
	margin-right: 340px;	
}

.about_us_item:nth-child(4) {
	margin-left: 325px;	
}

footer p {
	color: #a6a6a6;
	font-size: 14px;
	text-align: center;
	padding-bottom: 112px;
	padding-top: 25px;
}